.product-container img{
    width: 286px;
    height: 286px;
    margin: 7px;
    border-radius: 8px;
}

.product-container{
    width: 300px;
    height: 510px;
    box-shadow: 5px 5px 5px 5px whitesmoke;
    border: 2px solid lightgray;
    border-radius: 8px;
    margin: 7px;
    position: relative;
}

.product-info{
    margin :0 14px;
}
.product-info p{
  margin-top: 0;
  margin-bottom: 5px;
}
.product-info button{
    position: absolute;
}
.product-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;
    margin-top: 7px;
}
.btn-cart{
    width: 100%;
    background: #FFE0B3;
    border: none;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
}
.btn-cart:hover{
    background-color: tomato;
}